---
layout: page
# The Archives of collect_docs.
---

{% include lang.html %}

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">

  {% for collection in site.collections %}
    {% assign basename = page.name | split: '.' | first %}
    {% if basename == collection.label %}
      {% assign sorted = collection.docs | sort: 'date' | reverse %}
      {% for collect_doc in sorted %}
        {% assign cur_year = collect_doc.date | date: '%Y' %}

        {% if cur_year != last_year %}
          {% unless forloop.first %}</ul>{% endunless %}

          <time class="year lead d-block">{{ cur_year }}</time>
          {{ '<ul class="list-unstyled">' }}

          {% assign last_year = cur_year %}
        {% endif %}

        <li>
          {% assign ts = collect_doc.date | date: '%s' %}
          <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ collect_doc.date | date: '%d' }}</span>
          <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
            {{ collect_doc.date | date: df_strftime_m }}
          </span>
          <a href="{{ collect_doc.url | relative_url }}">{{ collect_doc.title }}</a>
        </li>

        {% if forloop.last %}</ul>{% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
