---
layout: page
# The Archives of collect_docs.
---

{% include lang.html %}

open source is not about selfishness and communism; it's about self-expression and cooperation.

{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

<div id="archives" class="pl-xl-3">

  {% for collection in site.collections %}
    {% assign basename = page.name | split: '.' | first %}
    {% if basename == collection.label %}
      {% assign sorted = collection.docs | sort: 'order' %}

<!--      copied from home.index    -->
        <div id="post-list" class="flex-grow-1 px-xl-1">
          {% for post in sorted %}
            <article class="card-wrapper card">
              <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
                {% assign card_body_col = '12' %}

                {% if post.image %}
                  {% assign src = post.image.path | default: post.image %}
                  {% unless src contains '//' %}
                    {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
                  {% endunless %}

                  {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

                  {% assign lqip = null %}

                  {% if post.image.lqip %}
                    {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
                  {% endif %}

                  <div class="col-md-5">
                    <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
                  </div>

                  {% assign card_body_col = '7' %}
                {% endif %}

                <div class="col-md-{{ card_body_col }}">
                  <div class="card-body d-flex flex-column">
                    <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

                    <div class="card-text content mt-0 mb-3">
                      <p>
                        {% include no-linenos.html content=post.content %}
                        {{ content | markdownify | strip_html | truncate: 200 | escape }}
                      </p>
                    </div>

                    <div class="post-meta flex-grow-1 d-flex align-items-end">
                      <div class="me-auto">
                        <!-- posted date -->
                        <i class="far fa-calendar fa-fw me-1"></i>
                        {% include datetime.html date=post.date lang=lang %}

                        <!-- categories -->
                        {% if post.categories.size > 0 %}
                          <i class="far fa-folder-open fa-fw me-1"></i>
                          <span class="categories">
                            {% for category in post.categories %}
                              {{ category }}
                              {%- unless forloop.last -%},{%- endunless -%}
                            {% endfor %}
                          </span>
                        {% endif %}
                      </div>

                      {% if post.pin %}
                        <div class="pin ms-1">
                          <i class="fas fa-thumbtack fa-fw"></i>
                          <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                        </div>
                      {% endif %}
                    </div>
                    <!-- .post-meta -->
                  </div>
                  <!-- .card-body -->
                </div>
              </a>
            </article>
          {% endfor %}
        </div>
<!--   copy end   -->

    {% endif %}
  {% endfor %}
</div>
